.DS_Store
.gitignore
node_modules
# public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# Waron character detail note ignores
#   - Hides details so other people viewing these notes don't get spoiled!
content/Hunter - Luyarnha Campaign/Player Characters/Waron/*
!content/Hunter - Luyarnha Campaign/Player Characters/Waron/Waron.md