.DS_Store
.gitignore
node_modules
# public
prof
tsconfig.tsbuildinfo
# .obsidian need to be included for the graph to be pulled/generate properly!
# If we want to allow customization of stuff, we can ignore specfic configs in here!
# .obsidian
.quartz-cache
private/
.replit
replit.nix
# Private files (George)
content/Hunter Luyarnha Campaign/Player Characters/Waron/
!content/Hunter Luyarnha Campaign/Player Characters/Waron/Waron.md

/content/Projects
/content/Character Ideation
/content/Oneshots/Campeigns/Sparks Fly - Artificer Speed Dating
!/content/Oneshots/Campeigns/Sparks Fly - Artificer Speed Dating/Sparks Fly Video.md
/content/files/ArmorConcepting
/content/Oneshots/Campeigns/StarWars
content/files/fdbf2392-e288-448d-9817-4ede05564d7b.webp
content/files/bcb9d09d-82b2-480b-b59b-c34603e66d98.webp
content/files/31d26c07-45e8-4470-b856-37630904ec45.webp
content/.obsidian/workspace.json
content/.obsidian/graph.json
